body{
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.error-message{
    color:red;
    text-align: center;
}
.center-white-box{
    background-color: white;
    width: 50%;
    margin: 5% auto;
    border: 1px solid black;
    padding: 2%;
}

/*login-front.php*/
#login-box{
    width: 30%;
    margin-bottom: 1%;
    text-align: center;
}

#signup-admin{
    display: flex;
    justify-content: center;
}

#signup-admin div{
    padding: 0 1%;
    font-size: 12px;
}

#go-to-admin{
    text-align:center;
    font-style: italic;
    border-left: 1px solid black;
}

#go-to-admin a{
    text-decoration: none;
    color: gray;
}

#go-to-admin a:hover{
    color: black;
    font-style: normal;
}

#sign-up a{
    text-decoration: none;
    font-weight: bold;
}

#sign-up a:hover{
    color: black;
}

/*signup.php*/
#signup-box{
    width: 30%;
    text-align: center;
}

/*change-password.php*/
#change-pass-box{
    width: 30%;
    text-align: center;
}

#change-pass-box td{
    padding: 1%;
}

/*profile.php*/
#profile-box{
    width: 30%;
    text-align: center;
    margin-bottom: 1%;
}

#profile-section{
    width: 80%;
    margin: 0 auto;
}

#profile-section td{
    padding: 2%;
    width: 50%;
}

#profile-btns{
    display:flex;
    justify-content: center;
}

#profile-btns a{
    padding: 1%;
    margin: 1%;
}

#back-to-front{
    text-align: center;
}

#back-to-front a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#back-to-front a:hover{
    color: black;
}

/* index.php, contact.php*/
#home-section{
    padding: 100px 0px 100px 0px;
}

#home-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

#home-content img{
    width: 30%;
    margin: 0px 30px 0px 40px;
}

#home-content div{
    width: 40%;
    justify-content: left;
    margin: 0px 40px 0px 30px;
}

#home-content div ul{
    padding: 10px 0px 0px 0px;
}
#home-content div h1{
    text-align: center;
    color: darkred;
}

#home-content div li{
    list-style-type: none;
    padding: 10px 0px 20px 0px;
}

#home-content div a{
    text-decoration: none;
    font-size: 22px;
    color: darkred;
    font-weight: bold;
}

#home-content div a:hover{
    font-style: italic;
}

#tbl-contact tr td{
    padding: 2% 10%;
}

#tbl-contact tr th{
    color: darkred;
}

#tbl-hours tr td{
    padding: 0;
}

/*Concerning the display of desserts: 
    categories.php, desserts.php, category-desserts.php, food-search.php*/
.main-section{
    margin: 2% 0 10% 0%;
}

.main-section h1{
    text-align: center;
    color: black;
    padding: 2%;
    margin: 0;
}

.menu-layout{
    margin: 4% 10%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 400px;
    justify-content: center;
}

.menu-item{
    padding: 3%;
    text-align: center;
    width: 80%;
    margin: 5%;
}

.menu-item a{
    text-decoration: none;
}

.menu-item h3{
    color: darkred;
    margin-top: auto;
}

.menu-item img{
    height: 250px;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.menu-item:hover img{
    opacity: 0.2;
}

.menu-item:hover .description{
    opacity: 1;
}

.description{
    transition: .5s ease;
    opacity: 0;
    position: relative;
    bottom: 40%;
    padding: 0 3%;
    font-weight: bold;
    color: darkred;
    height: 10%;
    margin-bottom: auto;
}

.order-btn a{
    text-decoration: none;
}

.tbl-quantity{
    width: 100%;
    font-size: 18px;
    text-align: center;
    float: left;
    
}
.tbl-quantity tr td input{
    width: 100%;
    font-size: 18px;
}

#qty-input{
    width: 30%;
    margin-right: auto;
}

#add-cart{
    margin-left: auto;
    width: 100%;
    padding: 1%;
}

/*search section: desserts.php*/
.search-section{
    text-align:center;
}

.search-box{
    padding: 1%;
    border: 2px solid black;
}

/*cart.php*/
#cart-box{
    width: 60%;
    color: darkred;
}

#cart-box{
    text-align: center;
    padding: 2%;
}

.product-section{
    margin: 3% 7%;
}

.tbl-items{
    border-bottom: 2px solid black;
}

.tbl-items tr th{
    border-bottom: 1px dotted black;
    padding: 1%;
}

.tbl-items tr td{
    padding: 2%;
    border-bottom: 1px dotted black;
    text-align: center;
    color: black;
}

.cart-img-section{
    width: 15%;
    height: 10%;
}

.cart-img-section img{
    width: 100%;
    height: 80px;
}

.tbl-total{
    text-align: right;
    padding: 1% 0;
    margin-right: 0;
    margin-left: auto;
    color: black;
}

.tbl-total tr td{
    width: 40%;
    padding: 2%;
}

.remove{
    text-align: left;
    position: relative;
    top: 15px;
    right: 10px;
}
.remove a{
    font-size: 12px;
    color: dimgrey;
}

.remove a:hover{
    color: darkred;
}

#place-order{
    margin-left: auto;
    margin-right: 0;
    width: 30%;
}

#place-order input{
    width: 100%;
    padding: 2%;
    font-size: 16px;
}

/*order-history.php*/
#order-history-box{
    width: 60%;
    text-align: center;
}
.order-list{
    padding: 1%;
    text-align: center;
}

.order-list table th{
    border-bottom: 1px solid black;
}
.order-list table td{
    padding: 2%;
    border-bottom: 1px dotted black;
}


